

<div class="container">
  <div class="jumbotron">
    <h1>About us</h1> 
    <p>This is the about us page.</p> 
  </div>
  <p>This page is all about us and we need to add way more content to this.</p> 
  <p>This is another text.</p> 
</div>
